<h3>{{localize 'TIDY5E.Settings.ColorPickerLabel'}}</h3>
<article class='setting'>
  <input
    type='checkbox'
    data-dtype='boolean'
    name='colorPickerEnabled'
    id='colorPickerEnabled'
    {{checked settings.colorPickerEnabled.value}}
  />
  <div class='description'>
    <label for='colorPickerEnabled'>{{localize
        'TIDY5E.Settings.ColorPickerEnabled.name'
      }}</label>
    <p class='notes'>{{localize 'TIDY5E.Settings.ColorPickerEnabled.hint'}}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerEquipped'
    id='colorPickerEquipped'
    value='{{settings.colorPickerEquipped.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerEquipped'>{{localize
        'TIDY5E.Settings.ColorPickerEquipped.name'
      }}</label>
    <p class='notes'>{{localize 'TIDY5E.Settings.ColorPickerEquipped.hint'}}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerEquippedOutline'
    id='colorPickerEquippedOutline'
    value='{{settings.colorPickerEquippedOutline.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerEquippedOutline'>{{localize
        'TIDY5E.Settings.ColorPickerEquippedOutline.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerEquippedOutline.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerEquippedAccent'
    id='colorPickerEquippedAccent'
    value='{{settings.colorPickerEquippedAccent.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerEquippedAccent'>{{localize
        'TIDY5E.Settings.ColorPickerEquippedAccent.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerEquippedAccent.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerPrepared'
    id='colorPickerPrepared'
    value='{{settings.colorPickerPrepared.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerPrepared'>{{localize
        'TIDY5E.Settings.ColorPickerPrepared.name'
      }}</label>
    <p class='notes'>{{localize 'TIDY5E.Settings.ColorPickerPrepared.hint'}}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerPreparedOutline'
    id='colorPickerPreparedOutline'
    value='{{settings.colorPickerPreparedOutline.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerPreparedOutline'>{{localize
        'TIDY5E.Settings.ColorPickerPreparedOutline.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerPreparedOutline.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerPreparedAccent'
    id='colorPickerPreparedAccent'
    value='{{settings.colorPickerPreparedAccent.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerPreparedAccent'>{{localize
        'TIDY5E.Settings.ColorPickerPreparedAccent.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerPreparedAccent.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerPact'
    id='colorPickerPact'
    value='{{settings.colorPickerPact.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerPact'>{{localize
        'TIDY5E.Settings.ColorPickerPact.name'
      }}</label>
    <p class='notes'>{{localize 'TIDY5E.Settings.ColorPickerPact.hint'}}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerPactOutline'
    id='colorPickerPactOutline'
    value='{{settings.colorPickerPactOutline.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerPactOutline'>{{localize
        'TIDY5E.Settings.ColorPickerPactOutline.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerPactOutline.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerPactAccent'
    id='colorPickerPactAccent'
    value='{{settings.colorPickerPactAccent.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerPactAccent'>{{localize
        'TIDY5E.Settings.ColorPickerPactAccent.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerPactAccent.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerAtWill'
    id='colorPickerAtWill'
    value='{{settings.colorPickerAtWill.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerAtWill'>{{localize
        'TIDY5E.Settings.ColorPickerAtWill.name'
      }}</label>
    <p class='notes'>{{localize 'TIDY5E.Settings.ColorPickerAtWill.hint'}}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerAtWillOutline'
    id='colorPickerAtWillOutline'
    value='{{settings.colorPickerAtWillOutline.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerAtWillOutline'>{{localize
        'TIDY5E.Settings.ColorPickerAtWillOutline.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerAtWillOutline.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerAtWillAccent'
    id='colorPickerAtWillAccent'
    value='{{settings.colorPickerAtWillAccent.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerAtWillAccent'>{{localize
        'TIDY5E.Settings.ColorPickerAtWillAccent.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerAtWillAccent.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerInnate'
    id='colorPickerInnate'
    value='{{settings.colorPickerInnate.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerInnate'>{{localize
        'TIDY5E.Settings.ColorPickerInnate.name'
      }}</label>
    <p class='notes'>{{localize 'TIDY5E.Settings.ColorPickerInnate.hint'}}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerInnateOutline'
    id='colorPickerInnateOutline'
    value='{{settings.colorPickerInnateOutline.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerInnateOutline'>{{localize
        'TIDY5E.Settings.ColorPickerInnateOutline.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerInnateOutline.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerInnateAccent'
    id='colorPickerInnateAccent'
    value='{{settings.colorPickerInnateAccent.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerInnateAccent'>{{localize
        'TIDY5E.Settings.ColorPickerInnateAccent.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerInnateAccent.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerAlwaysPrepared'
    id='colorPickerAlwaysPrepared'
    value='{{settings.colorPickerAlwaysPrepared.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerAlwaysPrepared'>{{localize
        'TIDY5E.Settings.ColorPickerAlwaysPrepared.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerAlwaysPrepared.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerAlwaysPreparedOutline'
    id='colorPickerAlwaysPreparedOutline'
    value='{{settings.colorPickerAlwaysPreparedOutline.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerAlwaysPreparedOutline'>{{localize
        'TIDY5E.Settings.ColorPickerAlwaysPreparedOutline.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerAlwaysPreparedOutline.hint'
      }}</p>
  </div>
</article>
<article class='setting'>
  <input
    type='text'
    class='color'
    style='max-width: 120px'
    data-dtype='string'
    name='colorPickerAlwaysPreparedAccent'
    id='colorPickerAlwaysPreparedAccent'
    value='{{settings.colorPickerAlwaysPreparedAccent.value}}'
    is='colorpicker-input'
    data-responsive-color
  />
  <div class='description' style='max-width: 240px'>
    <label for='colorPickerAlwaysPreparedAccent'>{{localize
        'TIDY5E.Settings.ColorPickerAlwaysPreparedAccent.name'
      }}</label>
    <p class='notes'>{{localize
        'TIDY5E.Settings.ColorPickerAlwaysPreparedAccent.hint'
      }}</p>
  </div>
</article>